/* Styling The Body */

body {
    background-color: #b80f0f;
    font-family: sans-serif;
    text-align: center;
}


/* Styling The Container */

.container {
    width: 100%;
}


/* Styling The Paragraph */

p {
    color: white;
    font-size: 8vw;
}

span {
    display: inline-block;
    animation: mover 6s infinite;
}

@keyframes mover {
    0% {
        text-shadow: 0 0 30px rgb(221, 14, 14);
    }
    50% {
        text-shadow: 0 0 30px rgb(75, 10, 224);
        transform: translateY(30px);
    }
    100% {
        text-shadow: 0 0 30px rgb(219, 240, 37);
    }
}


/** Styling The Paragraph Animation **/

span:nth-child(1) {
    animation-delay: 0.5s;
}

span:nth-child(2) {
    animation-delay: 1s;
}

span:nth-child(3) {
    animation-delay: 1.5s;
}

span:nth-child(4) {
    animation-delay: 2s;
}

span:nth-child(5) {
    animation-delay: 2.5s;
}

span:nth-child(6) {
    animation-delay: 3s;
}

span:nth-child(7) {
    animation-delay: 3.5s;
}

span:nth-child(8) {
    animation-delay: 4s;
}

span:nth-child(9) {
    animation-delay: 4.5s;
}


/* Styling The Clock Section */

#clock {
    width: 100%;
    text-align: center;
}


/* Styling The Progress Bar*/

#progressBarContainer {
    transform: rotate(180deg);
}


/* Styling The Button Section */

#buttonSection {
    width: 100%;
    padding-top: 1.5rem;
}


/** Styling The Round Buttons**/

.roundButton {
    border-radius: 50%;
    background-color: white;
    border: 0;
    width: 6rem;
    height: 6rem;
    font-size: 1rem;
    margin-bottom: 20px;
}

.roundButton:hover {
    color: white;
    background-color: #be4848;
    border: solid 5px white;
}

.button1 {
    float: left;
    width: 49%;
}

.button2 {
    float: right;
    width: 49%;
}


/* Styling The Time Selectors */

.selector {
    background-color: white;
    padding: .8rem 1.4rem .9rem .8rem;
    width: 30%;
    border-radius: 1rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1rem;
    text-align: center;
    border: solid 5px red;
}

.selector:hover {
    border: solid 5px #be4848;
}